<!DOCTYPE html>
<html ng-app="FilmsInSF">

  <head>
    <script data-require="angular.js@4.0.0" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script data-require="angular.js@4.0.0" data-semver="4.0.0" src="script.ts"></script>
    <script data-require="angular.js@4.0.0" data-semver="4.0.0" src="system.config.js"></script>
    <script data-require="angular.js@4.0.0" data-semver="4.0.0" src="tsconfig.json"></script>
    <link data-require="bootstrap@4.1.1" data-semver="4.1.1" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    <div class="container" ng-controller="FilmsController">
          <div class="FilmContainer">
            <div class="row text-center">
              <h2 class="store-title">Films in San Francisco</h2>
            </div>
            <div class="row">
              <!-- Adding new film -->
              <div class="col-sm-4 col-md-4">
                
                <div class="row text-center">
                  <h4 style="font-weight:bold; color:white;">Add New Film</h4>
                </div>

                <div class="addFilm">
                  <div class="form-group">
                    <input type="text" ng-model="filmTitle" placeholder="Film Title" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-model="filmAuthor" placeholder="Author" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-model="filmPages" placeholder="Places" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-primary" ng-click="addFilm(filmTitle,filmAuthor,filmPages)">Add Film</button>
                  </div>
                </div>

              </div>
              <!-- Adding new film -->

              <!-- display all films -->
              <div class="col-sm-8 col-md-8">
                <div class="row text-center">
                  <h4 style="font-weight:bold; color:white;">All Film</h4>
                </div>
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="film in films">

                    <span ng-hide="edit">
                      <b>{{film.title}}</b> | by {{film.author}}
                      <span class="badge">{{film.pages}} pages</span>
                      <span class="pull-right">
                         <button type="button" name="button" class="btn btn-info btn-sm" ng-click="edit=true">edit</button>
                         <button type="button" name="button" class="btn btn-danger btn-sm" ng-click="delete($index)">delete</button>
                       </span>
                    </span>

                    <span ng-show="edit">
                      <input type="text"  ng-model="film.title" />
                      <input type="text"  ng-model="film.author" />
                      <input type="text"  ng-model="film.pages" />
                      <button type="button" name="button" class="btn btn-primary btn-sm" ng-click="update(film.title,film.author,film.places,$index);edit=false">update</button>
                    </span>

                  </li>
                </ul>
              </div>
              <!-- display all films -->

            </div>
          </div>

        </div>
  </body>

</html>
