/* Styles go here */

body{
  background-color: #ddd;
}
.BookContainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 2%;
  border-radius: 10px;
  background-color: #97a01f;
}
.store-title{
  font-weight: bold;
  color: white;
}
